.DS_Store
.cache
.env
.env.*
.nyc_output
.react-router/

node_modules

graphql/lib
graphql/public/uploads
graphql/tools/dead/docx
graphql/tools/dead/pdf
graphql/tools/dead/responses
web/build
xcode/HighForThis.xcodeproj/project.xcworkspace/xcuserdata/

*.log
*.p8
