.DS_Store
.cache
.env
.env.*
.nyc_output
.react-router/

node_modules

graphql/lib
graphql/public/uploads
web/build
# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved

*.log
*.p8
