.DS_Store
.cache
.env
.env.*
.nyc_output
.react-router/
.openobserve-data/

node_modules

graphql/lib
graphql/dist
graphql/public/uploads
shared/dist
web/build
xcode/HighForThis.xcodeproj/project.xcworkspace/xcuserdata/

*.log
*.p8
graphql/dump/highforthis-prod
