@import 'tailwindcss';
@import './theme.css';

@layer base {
  body {
    background-color: var(--color-surface);
    text-rendering: optimizeLegibility;
    transition:
      background-color 300ms linear,
      color 300ms linear;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html.dark body {
    color: #fff;
    background-color: var(--color-surface-dark);
  }

  iframe {
    max-width: 100%;
  }

  a {
    color: #262626;
    transition: color 200ms ease;
  }

  html.dark a {
    @apply text-white;
  }

  a:active,
  a:hover {
    @apply text-pink;
  }

  blockquote {
    @apply mx-6;
  }
}
